// custom variables
$navy: #00263A;
$primary: $navy;
$navy-light: #1b4358;
$secondary: $navy-light;
$teal: #3CDBC0;
$info: $teal;
$grey: #D8ECEA;
$yellow: #F1BE48;
$warning: $yellow ;
$red: #E03C31;
$spacer: 0.5rem;
$border-radius: 5px;
$border-radius-lg: 10px;
$border-radius-sm: .15rem;
$edge-padding: 10px;
$inside-edge-padding: 5px;
$games-border-radius: 8px;
// $dropdown-etc

// Rules for styling:
// Alignment: jsx/react code
// Padding/Margins: SASS
// Outside padding 10px, inside paddings minimum 5px

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './variables.scss',
'./components/landing.scss',
'./components/landingheader.scss',
'./components/landingfooter.scss',
'./components/landingmodal.scss',
'./components/gamesdisplay.scss',
'./components/notfound.scss',
'./components/carousel.scss',
'./components/gamecards.scss',
'./components/profile.scss',
'./components/feature.scss',
'./components/chat.scss',
'./components/chatmessage.scss',
'./components/followinglist.scss',
'./components/usercollection.scss',
'./components/chatmobile.scss',
'./components/gamemodal.scss';

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

a {
  text-decoration: none !important;
}

.modal-open {
  padding-right: 0px !important;
}

@media only screen and (min-width: $md) {

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
  }

  *::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: #0E1F2C;
    /* color of the tracking area */
  }

  *::-webkit-scrollbar-thumb {
    background-color: $warning;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: 3px solid #0E1F2C;
    /* creates padding around scroll thumb */
  }
}

.btn {
  transition: 0.3s;
}