// custom variables
$teal: #0F756B;
$primary: $teal;
$secondary: #77B8B2;
$yellow: #E9B824;
$orange: #EE9322;
$red: #D83F31;
$spacer: 0.5rem;
$border-radius: 0.15rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;
// $dropdown-etc


// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './variables.scss', './components/landing.scss', './components/landingheader.scss';

* {
  box-sizing: border-box;
}