// custom variables
$teal: #0F756B;
$primary: $teal;
$grey: #D8ECEA;
$secondary: #4eaca2;
$yellow: #E9B824;
$orange: #EE9322;
$red: #D83F31;
$spacer: 0.5rem;
$border-radius: 0.2rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;
$edge-padding: 10px;
$inside-edge-padding: 5px;
$games-border-radius: 8px;
// $dropdown-etc

// Rules for styling:
// Alignment: jsx/react code
// Padding/Margins: SASS
// Outside padding 10px, inside paddings minimum 5px

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './variables.scss',
'./components/landing.scss',
'./components/landingheader.scss',
'./components/landingfooter.scss',
'./components/landingmodal.scss',
'./components/gamesdisplay.scss',
'./components/notfound.scss',
'./components/carousel.scss',
'./components/categorycards.scss',
'./components/gamecards.scss',
'./components/profile.scss',
'./components/feature.scss',
'./components/chat.scss',
'./components/chatmessage.scss';

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}