.carousel {
  height: 33vh;
}

.carousel-item {
  text-align: center;

  img {
    height: 33vh;
    max-width: 100%;
    margin: auto;
  }

}

@include media-breakpoint-up(md) {
  .carousel {
    height: 33vh;

    img {
      height: 33vh;
      max-width: 100%;
      margin: auto;
    }
  }
}