.chat-message {
  background-color: $primary;
  border: 1px solid $teal;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  padding: 5px;


  &:not(:last-of-type) {
    margin-top: $edge-padding;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: $border-radius;
    margin-right: 5px;
  }

  h4 {
    font-size: 0.9rem;
    color: white;
    font-weight: 200;
  }

  h5 {
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    // width: calc(100vw - 127px);
    overflow: hidden;
    color: white
  }

  p,
  h5 {
    margin: 0;
  }
}

.placeholder-message-text {
  opacity: 0.8;
  animation: fade 2s infinite;
  height: 15px;
  width: 100%;
  background-color: grey;
  border-radius: 25px;

  &:last-of-type {
    margin-top: 10px;
  }
}

@media only screen and (min-width: $md) {
  .message-author {
    width: 12vw;
  }



}