.chat-message {
  background-color: $teal;
  border-radius: $games-border-radius;
  display: flex;


  &:not(:last-of-type) {
    margin-top: $edge-padding;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: $games-border-radius;
    margin: $inside-edge-padding;
  }

  h5 {
    font-size: 1rem;
  }

  p,
  h5 {
    margin: 0;
  }
}