.chat-mobile {
  display: block;
  background-color: white;
}

.desktop-chat-following {
  display: none;
}

.chat-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: $edge-padding;
}

.chat-following-switch {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn:first-of-type {
    margin-right: 5px;
  }

  .btn:last-of-type {
    margin-left: 5px;
  }
}

.chat,
.following-display {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: $secondary;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid $secondary;
  }
}

.chat {
  height: calc((var(--vh, 1vh) * 100) - 265px);
  padding: $edge-padding;
  flex-direction: column-reverse;
}

.following-display {
  height: calc((var(--vh, 1vh) * 100) - 125px);
  padding-top: 10px;
  flex-direction: column;
}


.chat-form {
  padding: $edge-padding;

  form {
    position: relative;

    textarea {
      border: 2px solid $secondary;
      background-color: $primary;
      color: white;
      font-weight: 300;

      &:focus {
        border: 2px solid $danger;
        background-color: $primary;
        color: white;
        font-weight: 300;
      }

      &::placeholder {
        color: white;
        font-weight: 300;
      }
    }

    button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.following-form {
  form {
    display: flex;

    .form-control {
      flex: 1;
      margin-right: 5px;
    }

    button {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}

@media only screen and (min-width: $md) {

  .chat-mobile,
  .modal-button {
    display: none;
  }


  .desktop-chat-following {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .chat-desktop {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    border-radius: $border-radius;
    flex: 1;
    margin-top: $edge-padding;
  }

  .chat {
    height: calc(100vh - 367px);
  }

  .following-display {
    height: 100%;
  }

  .following-users {
    height: calc(100vh - 265px);
    overflow-x: hidden;
    overflow-y: auto;
  }

}