.chat-mobile {
  display: block;
  background-color: white;
}

.chat-desktop,
.chat-following-switch {
  display: none;
}

@media only screen and (min-width: $md) {
  .chat-mobile {
    display: none;
  }

  .chat-following-switch {
    display: block;
  }

  .chat-desktop {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    border-radius: $games-border-radius;
    flex: 1;
  }

  .chat-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .chat {
      width: 100%;
      padding: $edge-padding;
      flex: 1;
      display: flex;
      flex-direction: column-reverse;
    }
  }
}