.following-display {
  overflow: auto;

}

.following-collection {
  display: flex;
  flex-direction: row;
  margin-top: 5px;

  .btn:first-of-type {
    margin-right: 5px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .btn:last-of-type {
    width: 40px;
  }
}

.following-form {


  .form-control {
    font-weight: 300;
    background-color: $primary;
    border: 0px solid $primary;
    border-radius: 0;
    border-bottom: 3px solid $teal;
    color: white;
    padding-top: 0;
    transition: 0.4s;
    height: 40px;


    &::placeholder {
      color: white;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 3px solid $warning;
    }

  }
}