.display-background {
  background-image: url('../../images/ffflux.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.75rem;

  .display {
    background-color: $teal;
    border-radius: $games-border-radius;
    max-width: 1440px;
    padding: 0;
  }

  .background-row {
    flex-direction: column-reverse;
    margin: 0;
    padding: $edge-padding;
  }

}

.left-col {
  display: none;
  position: relative;
  padding-left: 0;
  height: 100%;

  .logo {
    width: 75%;
  }

  .top-games-container {
    height: calc(100vh - 147px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .display-top-games:not(:nth-child(-1)) {
    margin-bottom: 5px;
  }

  .display-top-games {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    border-radius: $games-border-radius;
    width: 100%;
    padding: $inside-edge-padding;

    img {
      width: 60px !important;
      height: 60px;
      border-radius: $games-border-radius;
    }

  }
}

.top-games-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $inside-edge-padding;
  flex: 1;

  h3 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .top-games-rank {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-left: 3px;
    padding: 3px 6px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  i {
    padding: $edge-padding;
    color: $secondary;
  }
}

.center-col {
  background-color: $warning;
  border-radius: $games-border-radius;
  padding: $edge-padding $edge-padding 0 $edge-padding;
  min-height: 615px;
}

.center-col-collection {
  background-color: $warning;
  border-radius: $games-border-radius;
  padding: $edge-padding $edge-padding 0 $edge-padding;
  min-height: 941px;
}

.center-cards {
  height: 100%;
}

.right-col {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}

.modal-button {
  background-color: $teal;
  height: 4rem;
  width: 4rem;
  position: fixed;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (min-width: $md) {
  .display-background {

    .background-row {
      flex-direction: row;
      height: 100%;
    }

    .left-col {
      display: none;
    }

    .center-col,
    .center-col-collection {
      height: 100%;
    }

    .right-col {
      padding-left: $edge-padding;
      display: flex;
      flex-direction: column;
    }
  }

}

@media only screen and (min-width: $lg) {
  .display-background {

    .background-row {
      flex-direction: row;
      height: 100%;
    }

    .left-col {
      display: flex;
      flex-direction: column;
    }

  }
}