.center-cards {
  padding-top: $edge-padding;
}

.search-input {
  margin-bottom: $edge-padding;
}

.pagination {
  padding-top: $edge-padding;
  justify-content: center;
}

ul.react-paginate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  user-select: none;
  padding-left: 0px;
}

ul.react-paginate li a {
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
  border: gray 1px solid;
  cursor: pointer;
}

ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
  text-decoration: none;
  user-select: none;
}

ul.react-paginate li.selected a {
  background-color: $teal;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

ul.react-paginate li.disabled a {
  color: grey;
}

ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}

.card-col {
  height: 300px;

}

.collect-remove,
.collect-add {
  font-size: 0.75rem;
  width: 100%;
  top: -5px;
  left: 0;
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collect-add {
  background-color: $teal;
}

.collect-remove {
  background-color: $danger;
}


.game-card {
  background-color: $secondary;
  border: none;

  .img-container {
    max-height: 68%;


    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .card-body {
    min-height: 30%;
    background-color: $primary;
    margin-top: 5px;
    border-radius: $border-radius;
    position: relative;

    p {
      overflow: hidden;
      color: white;
    }
  }
}

@include media-breakpoint-up(md) {
  .game-card-display-collection {
    height: calc(100vh - 214px);

    .card-col {
      height: 33%;
    }
  }

  .game-card-display {
    height: calc(66vh - 156px);

    .card-col {
      height: 50%;
    }
  }

  .game-card {


    .img-container {
      height: 70%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .card-body {
      height: 30%;
      padding: 13px 5px 5px 5px;

      p {
        overflow: hidden;
      }
    }
  }

  .pagination-bottom {
    display: none
  }
}

@include media-breakpoint-up(xxl) {
  .img-container {
    max-height: 70%;
  }
}