.game-modal {
  .modal-title {
    color: white;
    font-weight: 300;
  }

  .modal-content {
    background-color: $primary;
    border-radius: $border-radius;
  }

  .modal-body {
    background-color: $secondary;
  }

}

.detail-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-info {
  color: white;

  h4,
  h5 {
    font-weight: 200;

  }
}

.detail-description {
  margin: 5px 0;
  max-height: 33vh;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $warning;
    /* color of the scroll thumb */
    border-radius: 0 5px 5px 0;
    /* roundness of the scroll thumb */
    border: 0;
    /* creates padding around scroll thumb */
    margin-right: 4px;
  }

  p {
    color: white;
    font-weight: 300;
  }
}

.detail-category,
.detail-mechanic {
  margin: 0.1rem;
  cursor: default !important;

  &:hover {
    background-color: transparent !important;
  }
}

.detail-category:hover {
  color: $warning !important;
}

.detail-mechanic {

  &:hover {
    color: $danger !important;
  }
}

@media only screen and (min-width: $md) {
  .detail-description {
    max-height: 40vh;
  }
}