.display-background {
  background-image: url('../../images/ffflux.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 0.75rem;

  .display {
    background-color: $teal;
    border-radius: $games-border-radius;
    height: 100%;
    max-width: 1440px;
    padding: 0;
  }

  .background-row {
    flex-direction: column-reverse;
    margin: 0;
    padding: $edge-padding;
  }

}

.left-col {
  display: none;
  position: relative;
  padding-left: 0;

  .logo {
    width: 75%;
  }

  .display-top-games:not(:last-child) {
    margin-bottom: 5px;
  }

  .display-top-games {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    border-radius: $games-border-radius;
    width: 100%;
    padding: $inside-edge-padding;

    img {
      width: 60px !important;
      height: 60px;
      border-radius: $games-border-radius;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: $inside-edge-padding;

      h3 {
        font-size: 0.9rem;
      }

      h4 {
        font-size: 0.8rem;
      }
    }
  }

  .socials {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;

    i {
      padding: $edge-padding;
      color: $secondary;
    }
  }
}

.center-col {
  background-color: $warning;
  border-radius: $games-border-radius;
  padding: 0;
  height: 100%;
}

.right-col {
  padding-right: 0;
  padding-left: 0;
}

@media only screen and (min-width: $md) {
  .display-background {

    .background-row {
      flex-direction: row;
      height: 100%;
    }

    .left-col {
      display: none;
    }

    .right-col {
      padding-left: $edge-padding;
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: $lg) {
  .display-background {

    .background-row {
      flex-direction: row;
      height: 100%;
    }

    .left-col {
      display: block;
    }

  }
}