.display-background {
  background-image: url('../../images//background-metro.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.75rem;

  .display {
    background-color: $primary;
    border-radius: $games-border-radius;
    max-width: 1440px;
    padding: 0;
  }

  .background-row {
    flex-direction: column-reverse;
    margin: 0;
    padding: $edge-padding;
  }

}

.left-col {
  display: none;
  position: relative;
  padding-left: 0;
  height: 100%;

  .logo {
    height: 45px;
  }

  .top-games-container {
    height: calc(100vh - 123px);
    overflow-x: hidden;
    overflow-y: auto;


    h2 {
      color: white;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      margin: $inside-edge-padding 0;
      padding-bottom: $inside-edge-padding;
      border-bottom: 2px solid $teal;
    }
  }

  .display-top-games:not(:nth-child(-1)) {
    margin-bottom: 5px;
  }

  .display-top-games {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    border-radius: $games-border-radius;
    width: 100%;
    padding: $inside-edge-padding;

    img {
      width: 60px !important;
      height: 60px;
      border-radius: $games-border-radius;
    }

  }
}

.top-games-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $inside-edge-padding;
  flex: 1;
  color: white;



  h3 {
    font-size: 0.9rem;
    font-weight: 200;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .top-games-rank {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    padding: 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  i {
    padding: $edge-padding;
    color: $teal;
  }
}

.center-col {
  background-color: $secondary;
  border-radius: $games-border-radius;
  padding: $edge-padding $edge-padding 0 $edge-padding;
  min-height: 615px;
}

.center-col-collection {
  background-color: $secondary;
  border-radius: $games-border-radius;
  padding: $edge-padding $edge-padding 0 $edge-padding;
  min-height: 564px;
}

.center-cards {
  height: 100%;
}

.right-col {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}

.modal-button {
  background-color: $teal;
  height: 4rem;
  width: 4rem;
  position: fixed;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (min-width: $md) {
  .display-background {

    .background-row {
      flex-direction: row;
      height: 100%;
    }

    .left-col {
      display: none;
    }

    .center-col,
    .center-col-collection {
      height: 100%;
    }

    .right-col {
      padding-left: $edge-padding;
      display: flex;
      flex-direction: column;
    }
  }

}

@media only screen and (min-width: $lg) {
  .display-background {

    .background-row {
      flex-direction: row;
      height: 100%;
    }

    .left-col {
      display: flex;
      flex-direction: column;
    }

  }
}