.center-cards {
  padding-top: $edge-padding;

  h2 {
    color: white;
    font-weight: 200;
    text-align: center;
  }
}

.search-input {
  margin-bottom: $edge-padding;
}

.game-card-search {
  background-color: $secondary;

  .form-control {
    font-weight: 300;
    background-color: $secondary;
    border: 0px solid $primary;
    border-radius: 0;
    border-bottom: 3px solid $teal;
    color: white;
    padding-top: 0;
    transition: 0.4s;

    &::placeholder {
      color: white;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 3px solid $warning;
    }

  }
}

.pagination {
  padding-top: $edge-padding;
  justify-content: center;
}

ul.react-paginate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  user-select: none;
  padding-left: 0px;
  color: white;
  font-weight: 200;
}

ul.react-paginate li {
  border: transparent 2px solid;
  transition: 0.3s;

  &:hover {
    border-bottom: 2px solid $teal;
  }
}

ul.react-paginate li a {
  border-radius: 3px;
  padding: 0.1rem 0.5rem;

  cursor: pointer;
  color: white;

}

ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
  text-decoration: none;
  user-select: none;
}

ul.react-paginate li.selected {
  &:hover {
    border-bottom: 2px solid $secondary !important;
  }
}

ul.react-paginate li.selected a {
  background-color: $teal;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

ul.react-paginate li.disabled {
  &:hover {
    border-bottom: 2px solid transparent !important;
  }

}

ul.react-paginate li.disabled a {
  color: grey;
}

ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}

.card-col {
  height: 300px;

}

.collect-remove,
.collect-add {
  font-size: 0.75rem;
  width: 100%;
  top: -5px;
  left: 0;
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 3px solid $primary;

  &:hover {
    border-bottom: 3px solid $warning;
  }
}

.collect-add {
  background-color: $teal;
}

.collect-remove {
  background-color: $danger;
}


.game-card {
  background-color: transparent;
  border: none;
  cursor: pointer;

  .img-container {
    min-height: 68%;


    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .card-body {
    min-height: 30%;
    background-color: $primary;
    margin-top: 5px;
    border-radius: $border-radius;
    position: relative;

    p {
      overflow: hidden;
      color: white;
      font-weight: 300;
    }
  }
}

.card-col-placeholder:first-of-type {
  margin-top: 50px; // Make this bigger if needed
}

.placeholder-div {
  opacity: 0.8;
  animation: fade 2s infinite;
  border-radius: $border-radius !important;
  object-fit: none !important;
}

.placeholder-card-body {
  padding: 0 !important;
}

.placeholder-div-text {
  height: 20px;
  width: 80%;
  opacity: 0.8;
  animation: fade 2s infinite;
}

@include media-breakpoint-up(md) {
  .game-card {
    .img-container {
      max-height: 68%;
    }
  }

  .game-card-display-collection {
    height: calc(100vh - 199px);

    .card-col {
      height: 33%;
    }
  }

  .game-card-display {
    height: calc(66vh - 151px);

    .card-col {
      height: 50%;
    }
  }

  .game-card {


    .img-container {
      height: 70%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .card-body {
      height: 30%;
      padding: 13px 5px 5px 5px;

      p {
        overflow: hidden;
      }
    }
  }

  .pagination-bottom {
    display: none
  }
}

@include media-breakpoint-up(xxl) {
  .img-container {
    max-height: 70%;
  }
}

// Animations

@keyframes fade {

  0%,
  100% {
    opacity: 0.8
  }

  50% {
    opacity: 0.3
  }
}