.landing {
  background-image: url('../../images/ffflux.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 235vw; // Not a good idea at very wide or very small screens
}