.login-modal {
  .modal-content {
    background-color: $secondary;
    border-radius: $border-radius;
    padding: 10px;

    .modal-header {
      text-align: center;
      color: white;
      border-bottom: 1px solid $teal;
      border-radius: $border-radius $border-radius 0 0;
    }

    .form-label {
      color: white;
      font-weight: 200;
      margin-bottom: 0;
      margin-top: 0.5rem;
    }

    .modal-body {
      h3 {
        text-align: center;
        color: white;
        font-weight: 300;
        margin-top: 1rem;
      }

      .form-control {
        background-color: $secondary;
        border: 0px solid $primary;
        border-radius: 0;
        border-bottom: 3px solid $teal;
        color: white;
        padding-top: 0;
        transition: 0.4s;

        &:focus {
          box-shadow: none;
          border-bottom: 3px solid $warning;
          background-color: $secondary;
        }
      }
    }

    .modal-footer {
      border-top: none;
    }
  }
}

input:valid {
  background-image: none !important;
}