.landing {
  background-image: url('../../images/ffflux.svg');
  background-attachment: fixed; // This is essential for the parallax effect
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  padding: 1rem;
}

.landing-container {
  display: flex;
  flex-direction: column;
}

.landing-info {
  flex-grow: 1;
  text-align: center;

  .hero {
    color: white;
    font-size: 4rem;
    margin: 2rem 0;
  }
}

.landing-decoration {
  background-image: url('../../images/Landing-decoration.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1142px;
  width: 75vw;
}

.landing-info-row {

  margin: 100px 0;
}

.landing-info-box {
  background-color: rgba(#D8ECEA, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;


  h3 {
    font-size: 1rem;
    margin: 1rem;
  }
}

.info-box-1,
.info-box-2,
.info-box-3 {
  padding: $edge-padding;
  border-radius: 8px;
  max-width: 275px;
}

.info-box-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
}

.info-box-1 {
  background-color: $teal;

  .info-box-image {
    background-image: url('../../images/new-folder-dynamic-color.png');
  }
}

.info-box-2 {
  background-color: $warning;

  .info-box-image {
    background-image: url('../../images/chat-bubble-dynamic-color.png');
  }
}

.info-box-3 {
  background-color: $danger;

  .info-box-image {
    background-image: url('../../images/trophy-dynamic-color.png');
  }
}


@media only screen and (min-width: $sm) {
  .landing-info {
    h1 {
      font-size: 5rem;
    }
  }
}