.landing {
  background-image: url('../../images/background-metro-mobile.png');
  background-attachment: fixed; // This is essential for the parallax effect
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  padding: 1rem;
}

.landing-container {
  display: flex;
  flex-direction: column;
}

.landing-info {
  flex-grow: 1;
  text-align: center;

  .hero {
    color: white;
    font-size: 2.2rem;
    margin: 2rem 0;
  }
}

.landing-info-row {
  margin: 75px 0;
}

.landing-info-box,
.info-box-1,
.info-box-2,
.info-box-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;

  h3 {
    font-size: 1rem;
    margin: 0.5rem;
    font-weight: 400;
  }
}

.info-box-1,
.info-box-2,
.info-box-3 {
  padding: $edge-padding;
  border-radius: $border-radius;
  max-width: 375px;
}


.info-box-image {
  width: 75px;
  height: 75px;
}

.info-box-1 {
  background-color: $teal;
  animation: nudge 10s linear infinite alternate;

  .landing-info-box {
    border: 2px solid $teal;
  }
}

.info-box-2 {
  background-color: $warning;
  animation: nudge 10s linear infinite alternate;
  animation-direction: reverse;

  .landing-info-box {
    border: 2px solid $warning;
  }
}

.info-box-3 {
  background-color: $danger;
  animation: nudge 10s linear infinite alternate;

  .landing-info-box {
    border: 2px solid $danger;
  }
}


@media only screen and (min-width: $md) {
  .landing {
    background-image: url('../../images/background-metro.png');
  }

  .landing-info {
    .hero {
      font-size: 5rem;
    }
  }

  .landing-info-box,
  .info-box-1,
  .info-box-2,
  .info-box-3 {
    h3 {
      font-size: 1.75rem;
    }
  }

  .info-box-image {
    width: 150px;
    height: 150px;
  }

  .info-box-1,
  .info-box-2,
  .info-box-3 {
    max-width: 500px;
  }
}

// Animations

@keyframes nudge {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px, 0);
  }

  80% {
    transform: translate(-50px, 0);
  }
}