footer {
  padding: $edge-padding;
}

.landing-footer {
  background-color: $secondary;
  border-radius: $border-radius;
  padding: $edge-padding;
}

.landing-footer-inner {
  background-color: rgba($grey, 0.25);
  padding: $edge-padding;

  .logo {
    width: 125px;
  }

  h5 {
    color: white;
    font-size: 0.8rem;
    margin-left: 5px;
  }

  i {
    color: $primary;
    margin-right: 0.5rem;
  }

  .socials {
    width: auto;
  }
}