.profile {
  background-color: $secondary;
  border-radius: $games-border-radius;
  margin-bottom: 10px;
  position: relative;

  img {
    width: 60px;
    border-radius: $games-border-radius;
    margin: $inside-edge-padding;
  }

  .profile-ellipsis {
    position: absolute;
    right: 12px;
    top: 3px;
    width: 30px;
    height: 30px;
    z-index: 100;

    ::after {
      display: none;
    }

    .dropdown-toggle {
      border-radius: 50%;
    }
  }

  .collection-button {
    width: 100%;
    border-radius: 0 0 8px 8px;
  }

  .profile-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h4 {
      text-overflow: ellipsis;
      overflow: hidden;
    }


  }
}